[defaults]
enable_plugins = aws_ec2
# inventory = ./aws_inv/us-east-1_aws_ec2.yml
# inventory = ./aws_inv/us-west-2_aws_ec2.yml
inventory = /ansible/inventory/
host_key_checking = False
pipelining = True
roles_path = ~/.ansible/roles
forks = 1000
# log_path = ./zlog_ansible.log
# ansible_python_interpreter = /usr/bin/python3.8